*.txt filter=lfs diff=lfs merge=lfs -text
data/disease_variants.txt filter=lfs diff=lfs merge=lfs -text
data/FANTOM5_expression.csv filter=lfs diff=lfs merge=lfs -text
data/FANTOM5_specificity.csv filter=lfs diff=lfs merge=lfs -text
data/GTEx_expression.csv filter=lfs diff=lfs merge=lfs -text
data/GTEx_specificity.csv filter=lfs diff=lfs merge=lfs -text
